/*
* @Author: Administrator
* @Date:   2017-10-13 17:03:07
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-16 09:36:25
*/
@import url('base.css');
body{
	width: 100%;
	height: auto;
	background: #fff;
	padding-top: 0.88rem;
}
.sousuo{
	width: 100%;
	height: 0.8rem;
	background: #fff;
	overflow: hidden;
	/* margin-bottom: 0.1rem; */
	line-height: 0.8rem;
	border-bottom: 0.08rem solid #f3f4f6;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.sou{
	width: 4rem;
	height: 0.5rem;
	margin: 0.15rem auto;
	margin-left: 1.3rem;
	background: #f3f4f6;
	line-height: 0.5rem;
	/* border-bottom: 0.02rem solid #666; */
	border-radius: 0.5rem;
	float: left;

}
.sou input{
	display: block;
	width: 3.3rem;
	height: 100%;
	color: #666;
	outline: none;
	background: #f3f4f6;
	float: left;
}
.sou i{
	display: block;
	font-size: 0.3rem;
	color: #666;
	margin-right: 0.05rem;
	margin-left: 0.05rem;
	float: left;
}
.quxiao{
	display: block;
	font-size: 0.28rem;
	float: right;
	color: #000;
	margin-right: 0.3rem;
}




.che{
	width: 2rem;
	height: auto;
	/* position: absolute;
	top: 0;
	left: 0; */
	/* float: left; */
	/* background: red; */
}
.che li:nth-child(1) a{
	border-left: 0.1rem solid #52b318;
	color: #52b318;
	background: #fff;
}
.che li:last-child{
	margin-bottom: 0.95rem;
}
.che li,.che li a{
	width: 100%;
	height: 1.06rem;
	/* background: yellow; */
}
.che li a{
	display: block;
	line-height: 1.06rem;
	text-align: center;
	color: #000;
	font-size: 0.3rem;
	font-weight: 700;
	box-sizing: border-box;
	background: #f0f0f0;
}






.fenlei{
	width: 4.4rem;
	height: 9.54rem;
	/* background: red; */
	position: fixed;
	top: 0.88rem;
	right: 0;
	overflow: hidden;
}
.fenlei>span{
	font-size: 0.42rem;
	float: left;
	margin-top: 0.3rem;
	margin-left: 0.2rem;
}
.fenlei ul{
	width: 4rem;
	height: 1.5rem;
	/* background: red; */
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem; 
	display: flex;
	justify-content: space-between;
}
.fenlei ul li,.fenlei ul li a{
	width: 40%;
	height: 100%;
	background:#f0f0f0;
	border-radius: 0.1rem;
}
.fenlei ul li a{
	display: block;
	width: 100%;
	text-align: center;
}
.fenlei ul li a img{
	display: block;
	width: 100%;
	height: 70%;
}
.fenlei ul li a span{
	display: block;
	font-size: 0.15rem;
	padding-top: 0.1rem;
	color: #000;
}








.daohang{
	width: 100%;
	height: 0.95rem;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.daohang ul{
	width: 100%;
	height: 0.7rem;
	/* background: red; */
	margin-top: 0.1rem;
	display: flex;
	/* justify-content: space-between; */
	justify-content: space-around;
}
.daohang ul li,.daohang ul li a{
	width: 0.6rem;
	height: 0.7rem;
	/* background: yellow; */
}
.daohang ul li a{
	display: block;
}
.daohang ul li a div{
	width: 0.35rem;
	height: 0.35rem;
	background: #aa968d;
	margin: 0 auto;
	border-radius: 0.1rem 0 0.1rem 0;
	text-align: center;
	line-height: 0.35rem;
}
.daohang ul li:nth-child(2) a div{
	background: greenyellow;
}
.daohang ul li a div i{
	display: block;
	font-size: 0.2rem;
	color: #fff;
}
.daohang ul li a p{
	font-size: 0.2rem;
	margin-top: 0.08rem;
	color: #a1a1a1;
	margin-left: 0.05rem;
}